<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta charset="UTF-8"> 
        <title>about</title> 
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Dosis:wght@400;500&family=Exo+2:ital,wght@1,200;1,300&family=Exo:wght@400;800;900&family=Inter:wght@700;800;900&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;700&family=Roboto:wght@300;400;500;900&family=Teko:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/537965158b.js" crossorigin="anonymous"></script>
    </head>
<body>
    
<section id="header">
        <div>
            <ul id="navbar">
           <li><a  href="/">Home</a></li>
           <li><a href="/shop">Shop</a></li>
           <li><a class="active" href="about.html">About</a></li>
         
            <li class="check">
                    <a href="/cart"><i id="lg-bag" class="fa-solid fa-cart-shopping"></i><span>0</span>
                    </a>
                </li>
           <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
           </ul>
        </div>
        <div id="mobile"> 
            <a href="/cart"><i id="crt" class="fa-solid fa-cart-shopping"></i></a>
            <i  id="bar" class="fa-solid fa-bars"></i>
        </div>
</section>

<section id="subhead">
    <h1>About Us</h1>
</section>

<section id="aboutcontact">

<div id="aboutcontact1">
    <img src="/image/lady.jpg" alt="lady" height="400px" width="500px">
     <h4>Contact</h4>
      <p><strong>Address:</strong> 504 south west st california  07218</p>
      <p><strong>Phone:</strong> 908-342-5674</p>
      <p><strong>Hours:</strong> Mon - Fri  9:00am - 8:00pm</p>
</div>

<div id="aboutcontact2">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur"
    </p>
</div>

</section>

        <section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
    <h4>Sign Up For Newsletter</h4>
    <p>Get Email updates about our latest shop and <span>special offers.</span></p>
    </div>

    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal">Sign Up</button>
    </div>
</section>

<footer class="section-p1">
    <div class="col">
      <h1>WALKER</h1>
      <h4>Contact</h4>
      <p><strong>Address:</strong> 504 south west st california  07218</p>
      <p><strong>Phone:</strong> 908-342-5674</p>
      <p><strong>Hours:</strong> Mon - Fri  9:00am - 8:00pm</p>
    </div>

    <div class="col">
        <h4>About Us</h4>
        <a href="#">Delivery Information</a>
        <a href="#">Walker Season Pass</a>
        <a href="#">Promotions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col">
        <h4>Follow Us</h4>
        <div class="follow">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i> 
        </div>
    </div>

    <div class="copyright">
    <p>© Copyright 2021 - WALKER</p>
    </div>


</footer>

<script src="/Scripts.js"></script>
</body>
</html>