<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta charset="UTF-8"> 
        <title>Ecommerce website</title> 
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Dosis:wght@400;500&family=Exo+2:ital,wght@1,200;1,300&family=Exo:wght@400;800;900&family=Inter:wght@700;800;900&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;700&family=Roboto:wght@300;400;500;900&family=Teko:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/537965158b.js" crossorigin="anonymous"></script>
    </head>
<body>

<section id="header">
        <div>
            <ul id="navbar">
           <li><a  href="/">Home</a></li>
           <li><a href="/shop">Shop</a></li>
           <li><a href="/about">About</a></li>
         
           <li class="check">
               <a class="active" href="/cart"><i id="lg-bag" class="fa-solid fa-cart-shopping"></i><span>0</span>
            </a>
            </li>
           <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
           </ul>
        </div>
        <div id="mobile"> 
            <a href="/cart"><i id="crt" class="fa-solid fa-cart-shopping"></i></a>
            <i  id="bar" class="fa-solid fa-bars"></i>
        </div>
</section>


    <section class="cart-header">

        <h2>Cart</h2>

    <div class="checkproduct">
        <div class="checkheader">
        <h5 class="product-title">PRODUCT</h5>
        <h5 class="price">PRICE</h5>
        <h5 class="quantity">QUANTITY</h5>
        <h5 class="total">TOTAL</h5>
        </div>

        <div class="prod">
           <div class="prod1">

            </div>
        </div>
        <div class="buyBtnCtn">
         <button id="startCheckout" class="startCheckout">Start Checkout</button>
        </div>
    </div>

   </section>    
    


    <footer class="section-p1">
    <div class="col">
      <h1>WALKER</h1>
      <h4>Contact</h4>
      <p><strong>Address:</strong> 504 south west st california  07218</p>
      <p><strong>Phone:</strong> 908-342-5674</p>
      <p><strong>Hours:</strong> Mon - Fri  9:00am - 8:00pm</p>
    </div>

    <div class="col">
        <h4>About Us</h4>
        <a href="#">Delivery Information</a>
        <a href="#">Walker Season Pass</a>
        <a href="#">Promotions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
    </div>

    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="col">
        <h4>Follow Us</h4>
        <div class="follow">
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i> 
        </div>
    </div>

    <div class="copyright">
    <p>© Copyright 2021 - WALKER</p>
    </div>


</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/Scripts.js"></script>

</body>

</html>