<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <meta charset="UTF-8"> 
        <title>Checkout Success</title> 
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400&family=Dosis:wght@400;500&family=Exo+2:ital,wght@1,200;1,300&family=Exo:wght@400;800;900&family=Inter:wght@700;800;900&family=Lato:wght@300;400;700;900&family=Open+Sans:wght@600;700&family=Roboto:wght@300;400;500;900&family=Teko:wght@700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/537965158b.js" crossorigin="anonymous"></script>
    </head>
<body>


<section id="header">
        <div>
            <ul id="navbar">
           <li><a  href="/">Home</a></li>
           <li><a href="/shop">Shop</a></li>
           <li><a href="/about">About</a></li>
         
           <li>
                    <a class="active" href="/cart"><i id="lg-bag" class="fa-solid fa-cart-shopping"></i><span>0</span>
                    </a>
                </li>
           <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
           </ul>
        </div>
        <div id="mobile" class="check"> 
            <a  href="/cart"><i id="crt" class="fa-solid fa-cart-shopping"></i></a>
            <i  id="bar" class="fa-solid fa-bars"></i>
        </div>
</section>

<div class="container">
<div class="checkoutSuccessCtn">
  <h1>Thank you</h1>
  <p>You will receive an email with your invoice</p>
</div>
</div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/getSession.js"></script>
</body>
</html>